*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;

}

.container{
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 2;
}

.layout{
  display: flex;
  justify-content: center;
  position: relative;
}

.modal{
  width: 11rem;
  height: 2.5rem;
  border-radius: 5px;
  background-color: #4A4AE9;
  border-style: solid;
  border-color: #4A4AE9;
  color: white;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
  z-index: 1;
}

.background-color{
  background-color: rgba(32, 32, 32, 0.86);
  position: relative;
  z-index: 2;
}

.pointer-none{
  pointer-events: none;
}

.none{
  display: none;
}

.fixed{
  position: fixed;
  z-index: 3;
  text-align: center;
  width: 30%;
  height: 200px;
  margin: 15rem 0;
  background-color: white;
  border-radius: 5px;
  padding-top: 20px;
}

.pop-up-button{
  font-size: 20px;
  background-color: #EB5D5D;
  border-color: #EB5D5D;
  color: white;
  border-radius: 5px;
  border-style: solid;
  width: 5rem;
  height: 3rem;
  margin-top:1rem;
}
