*{
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  font-family: Avenir;
}

.container{
  width: 90%;
  margin: auto;
  padding: auto;
}

.row{
  display: flex;
}

.top-space-remove{
  height: 50px;
}

.col-80{
  width: 80%;
  margin: auto;
}

.first-row-space-between{
  display: flex;
  align-content: center;
  align-items: baseline;
  justify-content: space-between;
}

.blue-logo{
  margin: 0;
  padding: 0;
  width: 120px;
  height: 100px;
}

.col-100{
  width: 100%;
}

.col-40{
  width: 40%;
}

.heading-list{
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}

.heading-list li{
  width: 120px;
  font-size: 14px;
  text-align: center;
}

.button-at-row-1{
  margin: auto 0;
}

li, a {
  text-decoration: none;
  list-style: none;
}

button{
  color: white;
  background-color: #294364;
  border-radius: 5px;
  border-color: #294364;
  border-style: solid;
}

.row-1-btn{
  padding: 0.5rem 1.0rem;
}

hr{
  border-top:#B1B1B1;
  width: 100%;
  margin-top: 40px;
}

.background-image{
  margin-top: 3rem;
  position: relative;
  height: auto;
  filter: brightness(80%);
}

.absolute-position{
  position: absolute;
  top: 250px;
  left: 320px;
  color: white;
  line-height: 25px;
}

.header-image{
  line-height: 40px;
  font-family: "Tiempos Headline";
  font-weight: lighter;
}

.p-image{
  font-size: 0.87rem;
}

.get-started-bnt{
  position:absolute;
  padding: 0.8rem 2.5rem;
  font-family: Avenir;
  font-size: 15px;
  margin-top: 15px;
}

.grey-container{
  height: 500px;
  background-color: #FAFAFA;
  margin-top: 3rem;
  border-bottom-color: #E2E4E9;
  border-bottom-style: solid;
}


.text-aglin-center-margin-auto{
  text-align: center;
  margin: auto;
}

.grey-color-header{
  font-family: "Tiempos Headline";
  color: #6E6E6E;
  margin-top: 60px;
  font-weight: lighter;
}

.light-grey-p{
  color: #7F7F7F;
  font-size: 1.1rem;
  line-height: 30px;
}

.col-75{
  width: 75%;
}

.text-center-margin-auto-display-flex{
  text-align: center;
  margin: 3rem auto;
  display: flex;
  justify-content: space-between;
}

.padding-right-2.5ress{
  padding-right: 2.5rem;

}

.margin-1-auto-color-grey{
  margin: 1 rem auto;
  color: #7F7F7F;
}

.margin-1-auto-color-grey li{
  margin: 2rem 0rem;
  font-size: 15px;
}

.padding-bottom-25{
  padding-bottom: 25px;
}


.text-baseline{
  align-items: baseline;
  justify-content: space-between;
}

.get-started-bnt-2{
  padding: 0.8rem 2.5rem;
  font-family: Avenir;
  font-size: 15px;
  right: 0px;
}

.to-the-right{
  display: flex;
  justify-content: flex-end;
}
.dark-grey-background{
  background-color: #515351;
  height: 350px;
  display: flex;
  color: white;
}

.white-logo{
  width: 130px;
  height: 30px;
}

.contact-p{
  line-height: 20px;
  font-size: 12px;
  margin-top: 2rem;
}

.col-one-third{
  flex-basis: calc(100%/3);
}

.col-two-thirds{
  flex-basis: calc(200%/3);
}

.vertical-align{
  margin: auto 0;
  padding: auto 0;
}

.margin-left{
  margin-left: 150px;
}

.col-100 a{
  color: white;
}


.heading-list a{
  color: #B1B1B1;
}

.col-100 li{
  margin: 1.5rem auto;
}

.light-grey-background{
  background-color: #FAFAFA;
  height: 120px;
}

.footer{
  margin-left: 6%
}

.footer-link{
  padding: 0 1rem;
}

.footer-link a{
  color: #6E6E6E;
  font-weight: bold;
  font-size: 12px;
}
