*{box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Avenir;
}

.container{
  width: 80%;
  margin: auto;
}

.row{
  display: flex;
}

.row-width-80{
  width: 80%;
  margin: auto;
  display: flex;
  align-content: center;
  align-items: baseline;
}


.blue-logo{
  margin: 0;
  padding: 0;
  width: 120px;
  height: 100px;
  padding-top: 5rem;
}

.heading-list{
  width: 100%;
  display: flex;
  align-content: center;
  align-items: baseline;
  justify-content: flex-end;
  height: 25px;
}

.heading-list li{
  width: 120px;
  font-size: 14px;
  text-align: center;
}

.heading-list a{
  color: #B1B1B1;
  width: 100%;
}

li, a {
  text-decoration: none;
  list-style: none;
}

button{
  color: white;
  background-color: #294364;
  border-radius: 5px;
  border-color: #294364;
  border-style: solid;
}

.row-1-btn{
  padding: 0.5rem 1.0rem;
}

hr{
  border-top:#B1B1B1;
  width: 100%;
}


.background-image{
  width: 100%;
  margin-top: 3rem;
  position: relative;
  height: auto;
  filter: brightness(80%);
}

.absolute-position{
  position: absolute;

  top: 250px;
  left: 320px;
  color: white;
  line-height: 25px;
}

.header-image{
  width: 40%;
  line-height: 40px;
  font-family: "Tiempos Headline";
  font-weight: lighter;
}

.p-image{
  width: 37.5%;
  font-size: 13px;
}

.get-started-bnt{
  position:absolute;
  padding: 0.8rem 2.5rem;
  font-family: Avenir;
  font-size: 15px;
  margin-top: 15px;
}

.grey-container{
  width: 100%;
  height: 400px;
  background-color: #FAFAFA;
  margin-top: 3rem;
  border-bottom-color: #E2E4E9;
  border-bottom-style: solid;
  position: inherit;
  top: inherit;
  left: inherit;
  line-height: inherit;
  color: inherit;
}


.col-wid-35-text-aglin-center-margin-auto{
  width: 35%;
  text-align: center;
  margin: auto;
}

.grey-color-header{
  font-family: "Tiempos Headline";
  color: #6E6E6E;
  margin-top: 60px;
  font-weight: lighter;
}

.light-grey-p{
  color: #7F7F7F;
  font-size: 13px;
  line-height: 20px;
}

.col-75-text-center-margin-auto-display-flex{
  width: 75%;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.col-100-padding-right-2.5ress{
  width: 100%;
  padding-right: 2.5rem;

}

.address-list{
  margin: 1 rem auto;
  color: #7F7F7F;
}


.address-list li{
  margin: 2rem 0rem;
  font-size: 15px;
}

.padding-bottom-25{
  flex-basis: 100%;
  padding-bottom: 25px;
}

.button-at-the-end{
  width: 100%;
  text-align: end;
}

.get-started-bnt-2{
  padding: 0.8rem 2.5rem;
  font-family: Avenir;
  font-size: 15px;
  margin-right: 30px;
}

.col-100-dark-grey-background{
  width: 100%;
  background-color: #515351;
  height: 350px;
  display: flex;
  align-content: center;
  position: inherit;
  top: inherit;
  left: inherit;
  line-height: inherit;
}

.col-100-displayflex-company-information{
  width: 100%;
  display: flex;
  align-content: center;
  align-items: baseline;
  margin-left: 230px;
}

.white-logo{
  width: 110px;
  height: 25px;
}

.contact-p{
  line-height: 20px;
  font-size: 12px;
}

.margin-left-100{
  margin-left: 50px;
}

.margin-left-100{
  margin-left: 100px;
}

.col-in-full{
  width: 100%;

}

.col-in-full a{
  color: white;
}

.col-in-full li{
  margin: 1rem auto;
}

.light-grey-background{
  width: 100%;
  background-color: #FAFAFA;
  height: 80px;
}

.col-in-full-display-flex{
  display: flex;
  width: 100%;
  justify-content: start;
  padding: 0;
}

.footer-list{
  color: #8D8D8D;
  font-weight: bold;
  font-size: 12px;
}

.col-in-full-display-flex li{
  margin-right: 15px;
  margin-top: 15px;
}
